.ExportToolbar {
    width: 50px;
    min-height: 50px;
}

.ExportToolbar-exportButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.ExportToolbar-list {
    margin: 0;
    padding: 0;
}

.ExportToolbar-listItem {
    list-style: none;
}