{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": [
        "jsdoc-to-assert",
        "babel-plugin-espower"
      ]
    }
  }
}