:root {
    /* Export Interface
    --PageContainer-width
    */
    --PageContainer-itemSizeWidth: calc(var(--PageContainer-width) / 2);
    --PageContainer-itemSizeHeight: 300px;
}

.PageContainer {
    height: var(--PageContainer-itemSizeHeight);
    width: calc(var(--PageContainer-width));
}

.PageContainer-inner {
    height: 100%;
}

.PageContainer-item {
    width: var(--PageContainer-itemSizeWidth);
    height: var(--PageContainer-itemSizeHeight);
}