/* Define Page Item width */
:root {
    --PageContainer-width: 960px;
}

html, body, #js-app {
    height: 100%;

}

.App {
    width: var(--PageContainer-width);
    height: 100%;
    margin: 0 auto;
}