.PDFPagePreview {
    position: relative;
    height: 100%;
}

.PDFPagePreview-container {
    height: 100%;
}

/* overwrite */
.pdf-slide-progress {
    display: none !important;
}

.PDFPagePreview-canvas {
    height: auto !important;
    max-width: 100%;
    max-height: 100%;
}
